services:
  # ==========================================
  # SERVIÇO DO FRONT-END (Componente Principal)
  # ==========================================
  frontend:
    build:
      context: .
    ports:
      - "3000:3000"

    depends_on:
      - backend

  # ==========================================
  # SERVIÇO DO BACK-END (API)
  # ==========================================
  backend:
    build:
      # ".." sobe um nível para a raiz, depois entra em "hr_system_api"
      context: ../hr_system_api 
    ports:
      - "5000:5000"
    env_file:
      # Caminho relativo para buscar o .env na pasta do back-end, para o caso de ser necessário alterar alguma variável e não precisar rebuildar a imagem, sendo preciso apenas reiniciar o container.
      - ../hr_system_api/.env
    
    # --- CONFIGURAÇÃO DE PERSISTÊNCIA DE DADOS ---
    # volumes:
    #   - ../hr_system_api/database:/app/database